*{
    margin:0;
    padding: 0;
}
.main {
    height: 100vh;
    background-image: url('./Images/img2.jpg');
    background-size: cover;
    background-position: bottom;
    font-family: 'Quicksand', sans-serif;
}
​
input[type=text] {
    width: 70%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 5px;
}
​
button {
    background-color: #dc3546;
    border: 0px solid white;
    border-radius: 5px;
    padding: 10px 35px;
    color: white;
    font-size: 16px;
}
.user_input {
    width: 60%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}
​
.weather_subsection {
    width: 30%;
    background-color: #0002;
    border-radius: 3px;
    margin-top: 70px;
    padding: 20px 35px 20px 35px;
    height: auto;
}
​
.weather_subsection  h3 {
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
}
.weather_subsection  h6 {
    color: black;
    font-size: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}
​
.weather_subsection  h2 {
    font-size: 45px;
    color: #dc3546;
}
​
.weather_subsection p {
    color: black;
    text-transform: capitalize;
    font-size: 24px;
    padding-top: 15px;
} 
​
​
​
.weather_container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
​
​
​
.user_input h2 {
    padding-bottom: 20px;
    font-size: 40px;
    color: white;
}
​
​
​
​
​
/*
​
​
​
​
*/
​
​
​